/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --border-f1:#f1f1f1;
    --border-c2:#c2c2c2;
    --border-f7:#f7f7f7;
    --border-black:#000;
    --hero-color:#fff;
    --purple-shade:#A084E8;
    --pink-shade:#E893CF;
    --blue-shade:#CAEDFF;
    --yellow-shade:#FDFFAE;
    --green-shade:#D0F5BE;
    --blue-shade2:#B0DAFF;
        --text: #281d06;
    --background: #fcf8ed;
    --primary: #1b4fc0;
    --secondary: #f7e7c5;
    --accent: #1e57d2;
    --text-black:#000;
    --background-clr:#3180F5;
    --light-bg:#D7F5F5;
}

body{
    
}

*{
    font-family: 'Poppins', sans-serif;
}

.body-wrapper{
    display: grid;
    grid-template-rows: 60px 1fr;
}

/* navbar css*/

.nav-header{
    background-color: transparent;
    
}
/* navbar css ends*/

/* hero section css*/



.svg-img-hero{
    width: 100%;
}

.hero-content p{
    white-space: break-spaces;
}

.hero-section-main{
    position:relative;
}

.hero-section-main .hero-wrapper {
    min-height: 600px;
    max-height: 100%;
}

.hero-bg-div{
    position: absolute;
    top: -60px;
    background-color: #f0f5ff;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-wrapper .hero-content{
    height: 400px;
    color:var(--text-black);
}
/* hero section css ends*/

/* about us css*/
.abouts-us-content  .about-us-image img{
    width: 100%;
    border-radius: 10px;
    border:1px solid var(--border-c2)
}
/* about us css end*/


/* TRAC css*/
.trac-section .container .card:hover{
    transform: translateY(-2%);
}
.trac-section .container .card{
   transition: transform 0.3s ease-in-out;
}
.trac-leftCards{
    position: relative;
}


.trac-rightCard{
    position: relative;
}

.trac-cardBody h6::first-letter{
    font-size:200%
}

.trac-cardBody{
    box-shadow: 4px 3px #000;
}

.trac-training{
    background-color: var(--purple-shade);
}

.trac-research{
    background-color: var(--pink-shade);
}

.trac-advocacy{
    background-color: var(--blue-shade);
}

.trac-community{
    background-color: var(--yellow-shade);
}
.trac-situation{
    background-color:var(--green-shade)
}
/* TRAC css ends*/

/* Vision css */  
.vision-content p{
    background-color: var(--blue-shade2);
}

.vision-section .container{
    background-color: var(--secondary);
    border-radius: 5px;
}
/* .vision-section .container  .card{
    background-color: var(--yellow-shade);
    
} */


/* Vision css ends*/  

/* changed made in bootstrap css */
.nav-link{
    color: var(--text) !important;
}

.nav-link::after{
    display: block;
    content:" ";
    width: 0px;
    height:2px;
    background-color:var(--accent);
    transition: width 0.3s ease-in-out
}

.nav-link:hover::after{
    width: 100%;
}
.nav-item{
    cursor: pointer;
}
.publication-container{
    width: 100%;
    height: 100%;
}

.publication-container .publication-inner h1{
    margin:20px 0px
}

.publication-inner ul{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(2,53%);
    grid-gap:10px;
    
}

.publication-inner ul li img{
    width: 30%;
}





/* media queries here */
@media screen and (max-width:768px) {
    .answers-text{
        display:none;
    }
}