
    <div class="publication-inner">
        <div class="container">
            <h1 class="text-center">Publications</h1>
                <div class="row">
                    <div class="col-md-12 ">
                            <div class="publications-list">
                                <ul>
                                    <li>
                                        <img src="/Assets/Images/publication_img-1.jpg" alt="">
                                    </li>
                                    <li>
                                        <img src="/Assets/Images/publication_img-2.jpg" alt="">
                                    </li>
                                    <li>
                                        <img src="/Assets/Images/cover page - lanscape_pages-to-jpg-0001.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
        </div>
    </div>
