
    <div class="publication-inner">
        <div class="container">
            <h1 class="text-center">Publications</h1>
                <div class="row">
                    <div class="col-md-6">
                            <div class="publications-list">
                                <ul>
                                    <li>
                                        <a href="/PublicationPDFs/TitlePages.pdf" download="/PublicationPDFs/TitlePages.pdf">
                                            Going Forth to Serve
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
        </div>
    </div>
